html{
	margin:  auto;
	max-width: 388px;
	display: flex;
}

#calculator{
	margin-top: 50px;
}

#display{
	background-color: black;
	color: white;
	text-align: right;
	border-radius: 5px 5px 0 0;
	font-size: 50px;
	width: 387px;
	margin-bottom: 0;
}
#displayNum{
	margin-bottom: 0;
}

.buttons{
	width: 74px;
	height: 61px;
	margin-top: 5px;

}

#equal{
/* 	height: 100px; */
/* padding: 50px 0 50px 0; */
}
